header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 500px;
}

.imagem-capa img{
    max-width: 200px;
}

.resultado-localizacao{
    font-size: 14px;
    padding-bottom: 6px;
}